*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ffd6e7;
    font-family:Arial, sans-serif;
    text-align:center;
}

h1{
    color:#ff3d7f;
    margin:20px;
}

#game{
    position:relative;
    width:800px;
    height:400px;
    margin:auto;
    overflow:hidden;
    border:5px solid white;
    border-radius:20px;
    background:url("img/fondo.png");
    background-size:cover;
}

#kitty{
    position:absolute;
    width:70px;
    left:40px;
    bottom:20px;
}

#fresa{
    position:absolute;
    width:40px;
    right:120px;
    top:180px;
}

#casa{
    position:absolute;
    width:120px;
    right:10px;
    bottom:10px;
}

#score{
    position:absolute;
    top:15px;
    right:15px;
    background:white;
    padding:8px 15px;
    border-radius:15px;
    font-weight:bold;
}

#mensaje{
    position:absolute;
    width:100%;
    top:150px;
    font-size:40px;
    color:red;
    font-weight:bold;
}
