*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ffd6ec;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

h1{
    margin:20px;
    color:#ff1493;
}

#game{
    width:900px;
    height:500px;
    margin:auto;
    border:5px solid white;
    border-radius:20px;
    background:url("img/fondo.png");
    background-size:cover;
    position:relative;
    overflow:hidden;
}

#score{
    position:absolute;
    top:15px;
    right:15px;
    background:white;
    padding:10px;
    border-radius:10px;
    font-size:22px;
    font-weight:bold;
}

#kitty{
    width:80px;
    position:absolute;
    left:80px;
    bottom:0;
    transition:0.3s;
}

.strawberry{
    width:45px;
    position:absolute;
}

.house{
    width:140px;
    position:absolute;
    bottom:0;
    right:10px;
}

#message{
    position:absolute;
    top:40%;
    width:100%;
    font-size:40px;
    color:#ff1493;
    display:none;
    font-weight:bold;
}

p{
    margin-top:20px;
    font-size:20px;
}
